
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/ChartStile.css" rel="stylesheet" />



<div class="container-fluid bg-white mt-4 p-4">
    <div class="col-12 row">
        <div class="col-8">
            <h1 class="m-3">Ciclo Escolar @TempData["anio"]</h1>
        </div>
        <div class="col-4 p-2 d-flex justify-content-end">
            <a class="btn btn-primary" asp-controller="CicloEcolar" asp-action="Ciclos"> <i class="fa-solid fa-arrow-left"></i> Volver</a>
        </div>
    </div>


    <div class="row">

        @*<div class=" chartCard">
                <div class="chartBox">
                    <canvas id="chart3"></canvas>
                </div>
            </div>
            <div class="chartCardLine">
                <div class="chartBoxLine">
                    <canvas id="chart1"></canvas>
                </div>
            </div>*@




        <div class="mt-2 col-6 chart-container">
            <div class="card">
                <div class="card-header">
                    Estiudiantes asignados por grado
                </div>
                <div class="card-body">

                    <canvas id="chart1" width="100" height="50"></canvas>
                </div>
            </div>
        </div>


        <div class="mt-2 col-6 chart-container">
            <div class="card">
                <div class="card-header">
                    Estiudiantes asignados por grado y sección
                </div>
                <div class="card-body">

                    <canvas id="chart2" width="100" height="50"></canvas>
                </div>
            </div>
        </div>

        <div class="mt-2 col-4 chart-container">
            <div class="card">
                <div class="card-header">
                    Estudiantes Activos e Inactivos
                </div>
                <div class="card-body">

                    <canvas id="chart3"></canvas>
                </div>
            </div>
        </div>

        <div class="mt-2 p-4 col-6 chart-container">
            <div class="card">
                <div class="card-header">
                    Cursos asignados por grado
                </div>
                <div class="card-body">

                    <canvas id="chart4" width="100" height="50"></canvas>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts{
    <script src="~/lib/Chart.js/chart.js"></script>
    <script src="~/js/Rep/CicloEscolar.js"></script>
    <script>
        $(document).ready(function () {
            EstPorGrado(@TempData["anio"]);
            GradoSeccion(@TempData["anio"]);
            EstuPorEstado(@TempData["anio"]);
            CursosPorGrado(@TempData["anio"]);

            console.log(Date.now)
        });
    </script>

    <script>

    </script>

}