@using System.Data
@model DataTable

@{
    ViewData["Title"] = "TblAsistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var message = TempData["error"] ?? string.Empty;
}

<h1>TblAsistencia</h1>
<h1>IdBlkAsCu >>> @ViewData["IdBlkAsCu"]</h1>
<h1>IdCicloEscolar >>> @ViewData["IdCicloEscolar"]</h1>
<h1>IdAsigCurso >>> @ViewData["IdAsigCurso"]</h1>

<div class="container-fluid bg-white p-4 mt-4">

    <div class="container">

        <div class="row py-3">
            <div class="col-4"> <h2>Asistencias</h2> </div>
            <div class="col-8 d-flex justify-content-end flex-nowrap">
                <a href="/Secretario/Asistencia/Bloque/@ViewData["IdAsigCurso"]?IdCicloEscolar=@ViewData["IdCicloEscolar"]" class="btn text-white bg-primary m-1"> <i class="fa-solid fa-arrow-left"></i> Volver</a>
                @*<a asp-action="Create" class="btn text-white bg-primary m-1"> <i class="fa-solid fa-plus"></i> Agregar Bloque</a>*@
                <a href="/Secretario/Asistencia/CreateAsistencia/?IdBlkAsCu=@ViewData["idBlkAsCu"]&IdCicloEscolar=@ViewData["IdCicloEscolar"]&IdAsigCurso=@ViewData["IdAsigCurso"]" class="btn text-white bg-primary m-1"> <i class="fa-solid fa-plus"></i> Agregar Asistencia</a>
            </div>
        </div>

        <div class="row shadow p-3 mb-5 bg-white rounded py-2">
            <div class="col-12">
                <table id="tblBloqueAsis" class="table text-primary table-bordered table-responsive-lg table-hover" style="width:100%">
                    <thead class="bg-primary text-light">
                        <tr>
                            <td>Id</td>
                            <td>Fecha</td>
                            <td>Accion </td>
                        </tr>
                    </thead>

                    @foreach (DataRow r in Model.Rows)
                    {
                        <tr>
                            <td> @Convert.ToString(r["IdBloqueAsigCurso"]) </td>
                            <td> @Convert.ToDateTime(r["Fecha"]).ToShortDateString() </td>
                            <td>
                                <a href="/Secretario/Asistencia/UpdateAsis/?IdBlkAsCu=@r["IdBloqueAsigCurso"]&IdCicloEscolar=@ViewData["IdCicloEscolar"]&Fecha=@Convert.ToDateTime(r["Fecha"]).ToString("yyyy-MM-dd")" class='btn btn-outline-primary mr-1' title="Editar">
                                    <i class='fas fa-edit'></i>
                                </a>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <script>
        $(document).ready(function () {
                var message = '@message';
                if (message) {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'bottom-end',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'error',
                        title: 'Error: ' + message
                    })
                }
            if (message == "dodo") {
                    const Toast = Swal.mixin({
                        toast: true,
                        position: 'bottom-end',
                        showConfirmButton: false,
                        timer: 2000,
                        timerProgressBar: true,
                        didOpen: (toast) => {
                            toast.addEventListener('mouseenter', Swal.stopTimer)
                            toast.addEventListener('mouseleave', Swal.resumeTimer)
                        }
                    })
                    Toast.fire({
                        icon: 'success',
                        title: 'Operación Exitosa '
                    })
                }
            });
    </script>

    <script src="~/js/Asistencia.js"></script>

    <script>
        $(document).ready(function () {
            @*//cargarDtblAsis(@ViewData["IdBlkAsCu"], @ViewData["IdCicloEscolar"], @ViewData["IdAsigCurso"]);*@
            ListTblAsis();
        });
    </script>

}
