@using SistemaIEBCE.Models.ViewModels
@model CajaVM

@{
    ViewData["Title"] = "CajaDetalle";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var num = 1;
    var num1 = 1;
}

@*<div class="row">
    <div class="col-10">
        <h1 class="">Caja</h1>
    </div>
    <div class="col-2 d-flex justify-content-end p-2">
        
    </div>
</div>*@

<div class="row bg-white pt-lg-4 mt-3">
    <div class="col-6">
        <h2 class="ml-4">Caja #@Model.Caja.Id</h2>
        <p class="ml-4 h6">
            Fecha Inicio: @Model.Caja.Inicio.Date.ToShortDateString() <br />
            Fecha de Cierre: @if (@Model.Caja.Fin == null)
            {
                <span>----</span>
            }
            else
            {
                @Model.Caja.Fin.Value.ToShortDateString()
            } <br />
            Estado: @if (Model.Caja.Estado == 1)
            {<span class="badge badge-primary">Activo</span> }
            else
            { <span class="badge badge-secondary">Inactivo</span>}
        </p>
    </div>
    <div class="col-6 text-right">
        <h2 class="mr-4 text-right" id="total">Saldo: Q </h2>
        <h6 class="mr-4 text-right">Monto Inicial: Q @Model.Caja.MontoInicial</h6>
        <a type="button" class="btn btn-dark" asp-controller="Caja" asp-action="RepCaja" asp-route-idCaja="@Model.Caja.Id" asp-route-est="@Model.Caja.Estado"><i class="fa-solid fa-chart-pie"></i> Detalle</a>
        @if (Model.Caja.Estado == 1)
        {
            <a type="button" class="btn btn-danger" asp-controller="Caja" asp-action="CerrarCaja"><i class="fa-solid fa-lock"></i> Cerrar Caja</a>
        }
        <a type="button" class="btn btn-dark mr-4" asp-controller="Menu" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Volver</a>
    </div>
</div>

<div class="row bg-white px-4">
    <div class="col-8 p-2"> <h4>Gastos</h4> </div>
    <div class="col-4 p-2">
        <h5 class="text-right" id="tlsumGasto">Sub Total Q</h5>
    </div>
    <div class="col-12 ">
        <table id="tblGasto" class="table text-primary table-bordered table-responsive-lg table-hover" style="width:100%">
            <thead class="bg-light text-dark">
                <tr>
                    <td style="width:10%">#</td>
                    <td style="width:40%">Tipo</td>
                    <td style="width:30%">Descripcion</td>
                    <td style="width:10%">Monto</td>
                    <td style="width:10%">Acción</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DetalleGastoLst)
                {
                    <tr> 
                        @*<td>@item.Id</td>*@
                        <td>@Convert.ToInt32(num++)</td>
                        <td>@item.Gasto.NomGasto</td>
                        <td>@item.Gasto.DescGasto</td>
                        <td><input type="number" class="montoGas form-control border-0 bg-transparent" readonly value="@item.Monto" /></td>
                        <td class="text-center"> <i onclick="DeleteAl('/Tesorero/Caja/DeleteGastoCaja/?IdGasto=' + @item.Id)" class="text-danger fa-solid fa-square-xmark"></i> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-12 border-bottom border-secondary"></div>
</div>


<div class="row bg-white px-4">
    <div class="col-8 p-2"> <h4>Ingresos</h4> </div>
    <div class="col-4 p-2">
        <h5 class="text-right" id="tlsumCuota">Sub Total Q</h5>
    </div>
    <div class="col-12">
        <table id="tblCuota" class="table text-primary table-bordered table-responsive-lg table-hover" style="width:100%">
            <thead class="bg-light text-dark">
                <tr>
                    <td style="width:10%">#</td>
                    <td style="width:40%">Tipo</td>
                    <td style="width:30%">No. Pagos</td>
                    <td style="width:10%">Monto</td>
                    <td style="width:10%">Acción</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DetalleFacturaVM)
                {
                <tr>
                    @*<td>@item.IdCuota</td>*@
                    <td>@Convert.ToInt32(num1++)</td>
                    <td>@item.NomCuota</td>
                    <td>@item.Cantidad</td>
                    <td><input type="number" class="montoCuo form-control border-0 bg-transparent" readonly value="@item.Monto" /></td>
                    <td class="text-center"> <a asp-controller="DetalleCuota" asp-action="DetalleCuotaCaja" asp-route-idCaja="@item.IdCaja" asp-route-idCuota="@item.IdCuota" > <i class="fa-solid fa-circle-info"></i>  </a> </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var sumaGas = 0;
            var sumaCuo = 0;
            var Total = 0;
            $('.montoGas').each(function () {
                sumaGas += parseFloat($(this).val());
            });
            $('.montoCuo').each(function () {
                sumaCuo += parseFloat($(this).val());
            });
            //console.log(suma);
            //document.getElementById("sumGasto").value = suma;
            document.getElementById("tlsumGasto").innerHTML += sumaGas;
            document.getElementById("tlsumCuota").innerHTML += sumaCuo;
            document.getElementById("total").innerHTML += @Model.Caja.MontoInicial + sumaCuo - sumaGas;
        });

    </script>

    <script src="~/js/Caja.js"></script>
}